configuration {
       modi: "drun,run,window";
       show-icons: true;
       icon-theme: "Papirus";
       display-drun: " ";
       display-run: " ";
       display-window: " ";
       drun-display-format: "{name}";
       font: "JetBrainsMono Nerd Font 11";
   }

@theme "minimal-floating.rasi"
